* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  
  color: white;
  background: #444;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  background: #222;
}

header .title {
  display: flex;
  align-items: center;
  gap: 16px;
}

header .title h1 {
  font-size: 24px;
}

header .title img {
  height: 24px;
  scale: 1.5;
}

header nav {
  display: flex;
  gap: 10px;
}

header nav a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a.active {
  font-weight: bold;
  pointer-events: none;
}

div#content {
  flex-grow: 1;
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

footer {
  padding: 20px;
  background: #111;
}